<div>
    <button (click)="addNodeEvent.emit()">
        Add Node
    </button>
    <button (click)="removeEvent.emit()">
        Remove
    </button>
    <button (click)="addLinkEvent.emit(true)">
        Add Arc
    </button>
    <button (click)="addLinkEvent.emit(false)">
        Add Line
    </button>
    <button (click)="unlinkEvent.emit()">
        Unlink
    </button>
    <button (click)="showResultsEvent.emit()">
        Show Results
    </button>
    <button (click)="routhEvent.emit()"
    style="margin-left: auto; margin-right: 10px;">
        Routh-Hurwitz Stability Criterion
    </button>

</div>